.wrapper-dashboard {
  position: absolute;
  background-color: #16629f;
  width: 15%;
  height: 100vh;
}

#x-mark {
  position: relative;
  color: white;
  font-size: 40px;
}

#dash-mark {
  position: relative;
  color: white;
  font-size: 40px;
  float: right;

}
