:root {
    --bg: #16629f;
}
  
#loginButton-login, #checkbox-login {
position: relative;
left: 30%;
top: 33%;
}

#checkbox-login {
position: relative;
left: 30%;
}

#loginText {
position: relative;
font-family: arial;
font-size: 27px;
font-weight: bold;
top: 15%;
left: 37%;
}

#form-login {
position: relative;
left: 14%;
top: 24%;
}

#background-login{
position: absolute;
background-color: var(--bg);
width: 100%;
height: 86vh;
top: 14vh;
}

@media screen and (max-width: 600px) {
    #background-login {
        position: relative;
    }
}

#wrapper-login {
position: relative;
height: 400px;
max-width: 350px;
background-color: white;
left: 38%;
top: 65px;
}