absl-py==0.8.1
agents==1.4.0
appnope==0.1.0
astor==0.8.0
astroid==2.2.5
atari-py==0.2.6
backcall==0.1.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
conda==4.3.16
cycler==0.10.0
decopatch==1.4.7
decorator==4.4.1
dj-database-url==0.5.0
django>=2.2.9
ffmpeg==1.4
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==20.0.4
gym==0.15.4
h5py==2.10.0
idna==2.8
imageio==2.6.1
ipdb==0.12.3
ipython==7.10.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
makefun==1.7.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mujoco-py==0.5.7
numpy==1.16.4
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.1.0
pachi-py==0.0.21
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==3.0.2
protobuf==3.10.0
psycopg2==2.8.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pygame==1.9.6
pyglet==1.3.2
Pygments==2.5.2
pylint==2.3.1
PyOpenGL==3.1.0
pyparsing==2.4.5
pytest-cases==1.11.8
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.3
tgt==1.4.4
traitlets==4.3.2
Twisted==19.7.0
typed-ast==1.4.0
urllib3==1.24.2
virtualenv==16.4.3
virtualenv-clone==0.5.3
w3lib==1.20.0
wcwidth==0.1.7
Werkzeug==0.15.3
wrapt==1.11.2
