.flex_container_users_entry{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin-left: 5%;
  flex-flow: row wrap;
}

.item_users_entry{
  width: 15.5%;
  font-size: 12px;
  height: 100%;
  margin: auto 0;
}

#small_margin{
  margin:0px;
  word-wrap: break-word;
}

hr{
  align: center;
  size: 10px;
  color: #16629f;
  border-width:1px;
  border-style:solid;
  margin-left: 2%;
  width: 96%;
  margin-top: 0;
  margin-bottom: 0;
}

#regular_users_entry{
  text-align: left;
  font-size: 17px;
}