select{
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 10px;
  -webkit-appearance: none;
  background-color: white;
  color: black;
  border: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: #16629f;
  height: 25px;
  width: 100%;
}


select-selected{
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
