:root {
  --bg: #16629f;
}

* {
  position: relative;
}

#loginButton, #checkbox {
  left: 30%;
  top: 33%;
}

#checkbox {
  left: 30%;
}

#loginText {
  font-family: arial;
  font-size: 27px;
  font-weight: bold;
  top: 15%;
  left: 37%;
}

#form {
  left: 14%;
  top: 24%;
}

#background {
  position: absolute;
  background-color: var(--bg);
  width: 100%;
  height: 86vh;
  top: 14vh;
}

@media screen and (max-width: 600px) {
  #background {
    background-color: red;
  }
}


.wrapper {

  height: 400px;
  max-width: 350px;
  background-color: white;
  left: 38%;
  top: 65px;


}
