.sign_up_fields {
  width: 225px;
  height: 25px;
  border: 1px solid white;
  border-bottom-color: gray;
  padding: 10px;
}

#sign_up_label {
  position: relative;
  font-size: 30px;
  left: 21%;
  bottom: 3vh;
  font-weight: 700;
}
  
#signUpButton {
  margin-top: 2%;
}