.dashboard{
  width:100%
}

.top_content{
  width:90%;
  margin-left:5%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.big_search{
  border-width: 1px;
  border-color:#16629f;
  border-style: solid;
  border-radius: 8px;
  font-size: 12px;
  width: 28%;
  margin-bottom: 15px;
  height: 15px;
  padding: 3px 1%;
  margin-top: 3px;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  vertical-align: top;
  margin-top:0;
  margin-left:0;
}

#flex_container_two{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#filter{
  background-color: #16629f;
  border-width: 1px;
  border-color:#16629f;
  border-style: solid;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  width: 30%;
  height: 25px;
}

.flex_container_user_entries{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin-right: 5%;
  margin-left: 5%;
}

#item_title{
  width: 15.5%;
  font-size: 16px;
  text-align: left;
}