:root {
    --bg: #16629f;
}
  
#loginButton-login, #checkbox-login {
position: relative;
left: 30%;
top: 33%;
}

#checkbox-login {
position: relative;
left: 30%;
}

#login-text-container{
position: relative;
font-family: arial;

font-weight: bold;
text-align: center;
}

#admin-login-text{
  font-size: 35px;
  margin: 0 auto;
  margin-top: 80px;
}

#form-login {
position: relative;
left: 14%;
top: 24%;
}

#background-admin-login{
background-color: white;
width: 100%;
height: 100%;
top: 14vh;
}

@media screen and (max-width: 600px) {
    #background-admin-login {
        position: relative;
    }
}

#wrapper-admin-login {
position: relative;
height: 200px;
max-width: 350px;
top: 10px;
z-index: 20;
margin: 0 auto;
background-color:white;
}

.left-shift{
  border-radius:0px;
	height: 305px;
	width: auto;
	margin-top:100px;
	left: 12%;
  z-index: 10;
}

.right-shift{
	border-radius:0px;
	height: 305px;
	width: auto;
	margin-top:100px;
	right: 12%;
  z-index: 10;
}

.bottom-admin-shift{
  position: absolute;
  border-radius: 0%;
  margin: 0;
  bottom: 0px;
	width:101%;
	height: auto;
	margin-bottom: 0px;
}
