#background{
  background-color: green;
  width: 100px;
}

#box{
  float:"right";
  width:400;
  height:100;
  background-color:"lightblue";
}

.flex_container_job_entry{
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-left:10%;
  margin-right:10%;
  float:right;
}

.text_container{
  width: 100%;
}
#left_text{
  text-align: left;
  float:left;
}
#right_text{
  margin-left: auto;
  text-align: right;
  float: right;
}

.list_job_entry{
  align-self: stretch;
  width: 100%;
}
ul{
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 28px;
}
li{
  font-size: 14px;
}

#large{
  font-size: 20px;
  margin: 10px;
}

#medium{
  font-size: 17px;
  margin: 10px;
}

#small{
  font-size: 14px;
  margin: 10px;
}

.full_length_job_entry{
  margin: 0;
  width: 100%;
}
