.flex_container_users_entry{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-left: 5%;
  flex-flow: row wrap;
}

.item_users_entry{
  width: 19%;
  font-size: 12px;
  height: 100%;
  margin: auto 0;
}


#small_margin{
  margin:0px;
  word-wrap: break-word;
}



hr{
  align: center;
  size: 10px;
  color: #16629f;
  border-width:1px;
  border-style:solid;
  margin-left: 2%;
  width: 96%;
  margin-top: 0;
  margin-bottom: 0;
}

#profilepic{
  border-radius: 50%;
  width: 80%;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#special_item_users_entry{
  width: 5%;
}
#regular_users_entry{
  text-align: left;
  font-size: 17px;
}