:root {
  --bg: #16629f;
}

#background-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;	
  width: 100%;
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  #background-login {
      position: relative;
  }
}

#left-shift{
  display: flex;
  border-radius: 0px;
  height: 305px;
  width: auto;
  top: 18%;
  left: 12%;
}

#loginText {
  font-family: arial;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 3%;
}

#wrapper-login {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 400px;
  width: 400px;
}

.loginInput {
  height: 20px;
  width: 150px;
  margin-bottom: 1%;
}

#loginButton-login {
  margin-top: 2%;
}

#right-shift{
  display: flex;
  border-radius:0px;
  height: 305px;
  width: auto;
  top: 18%;
}

#bottom-shift{
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0px;
}